<div fxFlexFill fxLayout="column" class="background">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <h1 style="font-size: 30px;color: #e4e4e4;margin: 20px 0px;">{{title}}</h1>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxFlex style="overflow-y: auto;">
    <div class="static-size" fxFlex="50" fxFlexFill>
      <div fxLayout="column" fxFlexFill style="padding: 16px;">
        <mat-card class="pzCard" fxLayout="column" fxFlexFill>
          <form (ngSubmit)="onSubmit()" #pizForm="ngForm" fxLayout="column" fxFlexFill>
            <mat-card-header>
              <mat-card-title>{{pizzaForm._id?'Edit Pizza':'Create Pizza'}}</mat-card-title>
            </mat-card-header>
            <mat-card-content fxFlex fxLayout="column">
              <div fxLayout="row">
                <mat-form-field class="pz-field" color="accent" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" autocomplete="off" [(ngModel)]="pizzaForm.name" name="name" required>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field class="pz-field" color="accent" appearance="outline">
                  <mat-label>Description</mat-label>
                  <textarea class="pz-text-area" matInput type="text" autocomplete="off"
                    [(ngModel)]="pizzaForm.description" name="description" rows="3"></textarea>
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <div class="pz-field" fxLayout="row">
                  <button mat-stroked-button color="accent" type="button" (click)="addTopping()">Add topping</button>
                </div>
              </div>
              <div fxFlex style="overflow-y: auto;">
                <div class="pz-field" fxLayout="row" fxFlexFill>
                  <mat-nav-list style="width: 100%;" fxFlexFill>
                    <mat-list-item *ngFor="let topping of toppings">
                      <h3 matLine> {{topping.name}} </h3>
                      <p matLine>
                        <span> {{topping.description}} </span>
                      </p>
                      <button mat-icon-button color="warn" type="button" (click)="deleteTopping(topping)">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" type="button" (click)="editTopping(topping)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <mat-checkbox type="checkbox" [(ngModel)]="topping.check" name="topp-{{topping._id}}">
                      </mat-checkbox>
                    </mat-list-item>
                  </mat-nav-list>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions align="end" style="margin-bottom: 0px;">
              <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancel</button>
              <button mat-stroked-button color="{{pizzaForm._id?'accent':'primary'}}" type="submit"
                [disabled]="!pizForm.form.valid">{{pizzaForm._id?'Edit':'Save'}}</button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="static-size" fxFlex="50" fxFlexFill>
      <div fxLayout="column" fxFlexFill style="padding: 16px;">
        <div fxLayout="row wrap" fxFlex fxLayoutAlign="center start" style="overflow-y: auto;">
          <mat-card class="pzCard pzCard-det" *ngFor="let pizza of pizzas">
            <mat-card-header>
              <mat-card-title>{{pizza.name}}</mat-card-title>
              <mat-card-subtitle>{{pizza.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{getToppingsDesc(pizza.toppings)}}</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button color="warn" type="button" (click)="deletePizza(pizza)"
                [disabled]="validEdit(pizza._id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="accent" type="button" (click)="editPizza(pizza)"
                [disabled]="validEdit(pizza._id)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>