<form (ngSubmit)="onSubmit()" #toppForm="ngForm">
    <div mat-dialog-content>
        <div fxLayout="row" fxLayout.xs="column">
            <mat-form-field class="pz-field" color="accent" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="toppingForm.name" name="name" autocomplete="off" required>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <mat-form-field class="pz-field" color="accent" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea class="pz-text-area" matInput type="text" [(ngModel)]="toppingForm.description" name="description" autocomplete="off" rows="3"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center">
        <button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
        <button mat-button color="primary" type="submit"  [disabled]="!toppForm.form.valid">Save</button>
    </div>
</form>